body {
margin: 0;
font-family: sans-serif;
background-image: url('/05week/epilogus/recursos/imgs/background.png');
font-family: 'Parkinsans', Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

/* Barra de Progresso */
.epilogus-progress {
width: 400px;
height: 20px;
background-color: #1E2A38; 
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
margin-top: 20px;
}

.epilogus-progress-bar {
height: 100%;
width: 0%;
background: linear-gradient(90deg, #6CB4EE, #4F8EC6); 
transition: width 0.4s ease-in-out;
border-radius: 10px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
font-style: italic;
color: #E0E1DD;
font-size: 1.1rem;
margin-top: 20px;
margin-bottom: 0;
text-align: center;

}
